* {
    margin: 10px;
}

body {
    background-color:aliceblue;
}

.headertitles {
    font-size: large;
    font-weight: 500;
}

h1 {
    padding-top: 30px;
}

.page-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-product {
    background-color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 250px;
    border: solid, 1px, black;
}

.product-name {
    text-transform: uppercase;
}