* {
    margin: 10px;
}

body {
    background-color: aliceblue;
}

.headertitles {
    font-size: large;
    font-weight: 500;
}

h1 {
    padding-top: 30px;
}

.page-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-product {
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    border: solid, 1px, black;
}

.product-name {
    text-transform: uppercase;
}

#search {
    width: 300px;
}

.nao-aparecer {
    display: none;
}

.numeracao-pagina {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-login-register,
.container-register-edit {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.detail-admin {
    text-transform: capitalize;
}

.image-product {
    margin: 0;
    padding: 0;
}

.image-cart {
    width: 70px;
}

.decrease-button {
    display: flex;
    height: 22px;
    background-color: aliceblue;
    border: none;
    align-items: center;
}

th {
    width: 150px;
}