<h1>Correspondência</h1>
<div class="container-register-edit">
    <div class="register-product">
        <h2>Enviar e-mail</h2>
        <form action="/mail" method="post">
            <label for="to">Para:</label>
            <input type="email" id="to" name="to" required>
            <br>
            <label for="subject">Título:</label>
            <input type="text" id="subject" name="subject" required>
            <br>
            <label for="html">Menssagem:</label>
            <br>
            <textarea for="text" id="text" name="text" required cols="30" rows="5"></textarea>
            <br>
            <label for="file">Anexo:</label>
            <br>
            <input for="file" type="file" name="file">
            <br>
            <button id="sweet" type="submit">Enviar</button>
        </form>
    </div>

    <div class="edit-product">
        <h2>Enviar WhatsApp</h2>
        <form action="/mail/whats" method="post">
            <label for="to">Para:</label>
            <input type="text" id="to" name="to">
            <br>
            <label for="text">Menssagem:</label>
            <br>
            <textarea for="text" id="text" name="text" cols="30" rows="5"
                placeholder="Não escrever nada aqui porque trata-se de uma versão teste.">
            </textarea>
            <br>
            <button id="whats" type="submit">Enviar</button>
        </form>
    </div>
</div>

<script>
    document.getElementById("sweet")
        .addEventListener("click", async () => {
            await swal({
                text: "Seu e-mail foi enviado com sucesso",
                icon: "success",
            })
            window.location.href = `/products/all/1/10`
        })

    document.getElementById("whats")
        .addEventListener("click", async () => {
            await swal({
                text: "Sua msg foi enviada com sucesso",
                icon: "success",
            })
            window.location.href = `/products/all/1/10`
        })

</script>