<div>
    <h1>Área Restrita</h1>
    <h3> Você não tem permissão para acessar esta sessão.</h3>
    <a href="/products/all/1/10" class="headertitles">Ver produtos</a>
    <a href="/" class="headertitles">Ir para Login</a>
</div>