<div></div>
  <h1>Logout</h1>
  <h3> {{name}}, seu acesso foi finalizado com sucesso.</h3>
  <a href="/" class="headertitles">Retornar a Home</a>
  <a href="/login" class="headertitles">Ir para Login</a>
</div>