<div></div>
  <h1>Cadastro</h1>
  <h3> O produto foi cadastrado com sucesso.</h3>
  <a href="/products/all/1/10" class="headertitles">Ver produtos</a>
  <a href="/admin" class="headertitles">Retornar a área restrita</a>
</div>