<div></div>
  <h1>Cadastro</h1>
  <h3> O produto foi cadastrado/editado com sucesso.</h3>
  <a href="/" class="headertitles">Retornar a Home</a>
  <a href="/admin" class="headertitles">Retornar a área restrita</a>
</div>