<h1>Login</h1>

{{!-- <div class="container-login-register" width="150px">
  <div class="login">
    <h2>Você já possui conta?</h2>
    <form action="/user" method="post">
       <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required>
      <br>
      <label for="msg">Senha:</label>
      <input type="password" id="password" name="password" required>
      <br>
      <button type="submit">Entrar</button>
    </form>
  </div> --}}

  <div class="register" width="150px">
    <h2>Deseja cadastrar uma conta?</h2>
    <form action="/user" method="post">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="msg">Crie uma senha:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>